<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 扫描路由，如果不在mvc配置扫描，实测就算已在spring配置中加入扫描，也会导致404 -->
    <context:component-scan base-package="org.lhpsn.demospringmvc.controller"/>

    <!-- 支持注解，自动注册RequestMappingHandlerMapping与RequestMappingHandlerAdapter两个Bean -->
    <mvc:annotation-driven/>

    <!-- 视图解析器 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!-- 启用默认servlet，当dispatcherServlet找不到路由，继续找静态文件。
            另一种方式是<mvc:resources mapping="/public/**" location="/public/" />，这样的配置会自动优化缓存静态文件 -->
    <mvc:default-servlet-handler/>
</beans>